<!DOCTYPE html>

<html>

<head>
    <title>KHTN</title>
</head>

<body>
    <h1>Web RTC</h1>
    <video id="localStream" width="300" controls></video><br />
    <video id="friStream" width="300" controls></video>


    <br />
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <!-- <video id="mediaStream" width="300" controls></video> -->
    <br />
    <input type="text" placeholder="Your fri token" id="friendSignal">
    <button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>

</html>